.new-tweet {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0 1em 1em 1em;
  background-color: #eee;
  margin: 25px;
}

h2 {
  border-bottom: thin solid black;
}

textarea {
  width: 100%;
  padding: 0.2em;
}

.counter {
  float: right;
}
